<table class="back-for-table table table-bordered table-striped table-hover">
      <tr>
        <th>Kode Kabupaten</th>
        <th>Nama Kabupaten</th>
        <th>Kode Kecamatan</th>
        <th>Nama Kecamatan</th>
        <th>Kode Kelurahan</th>
        <th>Desa Kelurahan</th>
        <th>Dak lk</th>
        <th>Dak pr</th>
        <th>Dak</th>
        <% if user_signed_in? %> 
          <th></th>
          <th></th>
          <th></th>
        <% end %>
      </tr>

    <% result.each do |db_jmlh_pddk| %>
      <tr>
        <td><%= db_jmlh_pddk.kdkab %></td>
        <td><%= db_jmlh_pddk.nama_kab %></td>
        <td><%= db_jmlh_pddk.kdkec %></td>
        <td><%= db_jmlh_pddk.nama_kec %></td>
        <td><%= db_jmlh_pddk.kd_kel %></td>
        <td><%= db_jmlh_pddk.desa_kel %></td>
        <td><%= number_with_delimiter( db_jmlh_pddk.dak_lk ) %></td>
        <td><%= number_with_delimiter( db_jmlh_pddk.dak_pr ) %></td>
        <td><%= number_with_delimiter( db_jmlh_pddk.dak ) %></td>
        <% if user_signed_in? %> 
          <td><%= link_to 'Show', db_jmlh_pddk %></td>
          <td><%= link_to 'Edit', edit_db_jmlh_pddk_path(db_jmlh_pddk) %></td>
          <td><%= link_to 'Destroy', db_jmlh_pddk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
    </table>