<div class="span11">
  <h3>Informasi Kependudukan</h3>
  <div class="progress progress-info progress-striped"><div class="bar" style="width: 30%;"></div></div>
    <h3 class="small">Jumlah Penduduk</h3>

    <%= form_tag db_jmlh_pddks_path, :method => 'get' do %>
        <div class="row-fluid">
            <div class="span3"><%= select_tag 'search_kec', options_for_select(@cbokec.collect{ |u| [u.nama_kec, u.nama_kec] }) %></div>                       
            <div class="span6"><%= submit_tag "Cari", :name => "submit_search", :class=>"btn btn-info" %></div>
        </div>
    <% end %>

    <table class="table table-bordered table-striped table-hover">
      <tr>
        <th>Kdkec</th>
        <th>Nama kec</th>
        <th>Kd kel</th>
        <th>Desa kel</th>
        <th>Dak lk</th>
        <th>Dak pr</th>
        <th>Dak</th>
        <% if user_signed_in? %> 
          <th></th>
          <th></th>
          <th></th>
        <% end %>
      </tr>

    <% @db_jmlh_pddks.each do |db_jmlh_pddk| %>
      <tr>
        <td><%= db_jmlh_pddk.kdkec %></td>
        <td><%= db_jmlh_pddk.nama_kec %></td>
        <td><%= db_jmlh_pddk.kd_kel %></td>
        <td><%= db_jmlh_pddk.desa_kel %></td>
        <td><%= number_with_delimiter( db_jmlh_pddk.dak_lk ) %></td>
        <td><%= number_with_delimiter( db_jmlh_pddk.dak_pr ) %></td>
        <td><%= number_with_delimiter( db_jmlh_pddk.dak ) %></td>
        <% if user_signed_in? %> 
          <td><%= link_to 'Show', db_jmlh_pddk %></td>
          <td><%= link_to 'Edit', edit_db_jmlh_pddk_path(db_jmlh_pddk) %></td>
          <td><%= link_to 'Destroy', db_jmlh_pddk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
    </table>
    <% if user_signed_in? %>  
      <br />
      <%= link_to 'New Db jmlh pddk', new_db_jmlh_pddk_path %>
    <% end %>
</div>

<script>
  $(document).ready(function(){
    
    //function Populate(IDS,str) {
    //  var tmp = str.split(',');
    //  var sel = document.getElementById(IDS);
    //  sel.options.length=null;
    //  for (i=0; i<tmp.length; i++) {
    //  sel.options[i]=new Option(tmp[i], tmp[i]); 
    //  } 
    //}
//
    //$('#search_kec_id').change(function() {
    //  //get txtAmt value  
    //  var hsl_item = $('#search_kec_id').val()
    //      ;
//
    //  $.ajax({
    //    url: "/db_jmlh_pddks/index",
    //      //url: "/hasil2s/addnew.js",
    //      type: 'GET',
    //      data: { itemperiksa: hsl_item },
    //      dataType: 'json',
    //      success: function (data) {
    //        //Populate($('#search_kel_id'), data.labsatuan[0]);
    //      },
    //      error: function (jqXHR, data) {         
    //        //$("#idpasien").append ( data );
    //      }
    //  });
//
      //change txtInterest% value
      //$('#hasil2_hsl_lab_item_name').val(hsl_item);
      //$('#hasil2_hsl_lab_satuan').val(@lab2_item_selected);
    //});

  });
</script>
