<div class="span11">
  <h3>Informasi Kependudukan</h3>
  <div class="progress progress-info progress-striped"><div class="bar" style="width: 30%;"></div></div>
    <h3 class="small">Jumlah Penduduk <%= params[ :search_kab ].nil? ? '' : 'Kabupaten ' + params[ :search_kab ] %></h3>

    <%= form_tag db_jmlh_pddks_path, :method => 'get', :class => 'form-inline' do %>
        <div class="row">
            <div class="span6">
              Pilih Kabupaten : <%= select_tag 'search_kab', options_for_select(@cbokab.collect{ |u| [u.nama_kab, u.nama_kab] }), :include_blank => true %>&nbsp;<%= submit_tag "Cari", :name => "submit_search", :class=>"btn btn-info" %></div>
        </div>
    <% end %>

    <table class="table table-bordered table-striped table-hover">
      <tr>
        <th>Kode Kabupaten</th>
        <th>Nama Kabupaten</th>
        <th>Kode Kecamatan</th>
        <th>Nama Kecamatan</th>
        <th>Kode Kelurahan</th>
        <th>Desa Kelurahan</th>
        <th>Dak lk</th>
        <th>Dak pr</th>
        <th>Dak</th>
        <% if user_signed_in? %> 
          <th></th>
          <th></th>
          <th></th>
        <% end %>
      </tr>

    <% @db_jmlh_pddks.each do |db_jmlh_pddk| %>
      <tr>
        <td><%= db_jmlh_pddk.kdkab %></td>
        <td><%= db_jmlh_pddk.nama_kab %></td>
        <td><%= db_jmlh_pddk.kdkec %></td>
        <td><%= db_jmlh_pddk.nama_kec %></td>
        <td><%= db_jmlh_pddk.kd_kel %></td>
        <td><%= db_jmlh_pddk.desa_kel %></td>
        <td><%= number_with_delimiter( db_jmlh_pddk.dak_lk ) %></td>
        <td><%= number_with_delimiter( db_jmlh_pddk.dak_pr ) %></td>
        <td><%= number_with_delimiter( db_jmlh_pddk.dak ) %></td>
        <% if user_signed_in? %> 
          <td><%= link_to 'Show', db_jmlh_pddk %></td>
          <td><%= link_to 'Edit', edit_db_jmlh_pddk_path(db_jmlh_pddk) %></td>
          <td><%= link_to 'Destroy', db_jmlh_pddk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
    </table>
    <% if user_signed_in? %>  
      <br />
      <%= link_to 'New Db jmlh pddk', new_db_jmlh_pddk_path %>
    <% end %>
</div>