<p id="notice"><%= notice %></p>

<p>
  <b>Kdkec:</b>
  <%= @db_jmlh_pddk.kdkec %>
</p>

<p>
  <b>Nama kec:</b>
  <%= @db_jmlh_pddk.nama_kec %>
</p>

<p>
  <b>Kd kel:</b>
  <%= @db_jmlh_pddk.kd_kel %>
</p>

<p>
  <b>Desa kel:</b>
  <%= @db_jmlh_pddk.desa_kel %>
</p>

<p>
  <b>Dak lk:</b>
  <%= @db_jmlh_pddk.dak_lk %>
</p>

<p>
  <b>Dak pr:</b>
  <%= @db_jmlh_pddk.dak_pr %>
</p>

<p>
  <b>Dak:</b>
  <%= @db_jmlh_pddk.dak %>
</p>


<%= link_to 'Edit', edit_db_jmlh_pddk_path(@db_jmlh_pddk) %> |
<%= link_to 'Back', db_jmlh_pddks_path %>
