<div class="span3">
  <h3>Gubernur Sulawesi Selatan</h3>
  <div class="progress progress-info progress-striped"><div class="bar" style="width: 30%;"></div></div>
  <center>
    <%= image_tag("/assets/foto-gub.jpg") %><br>
    <h7>DR.H.SYAHRUL YASIN LIMPO,SH,M.Si,M.H</h7>
  </center>

  <h3>Informasi Kependudukan</h3>
  <div class="progress progress-info progress-striped">
    <div class="bar" style="width: 30%;"></div>
  </div>
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to image_tag("/assets/arrow.png") + " Klasifikasi berdasarkan Jumlah Penduduk", db_jmlh_pddks_path %></li>
    <li><%= link_to image_tag("/assets/arrow.png") + " Klasifikasi berdasarkan Agama", db_agamas_path %></li>
    <li><%= link_to image_tag("/assets/arrow.png") + " Klasifikasi berdasarkan Pekerjaan", db_pekerjaans_path %></li>
    <li><%= link_to image_tag("/assets/arrow.png") + " Klasifikasi berdasarkan Pendidikan", db_pendidikans_path %></li>
    <li><%= link_to image_tag("/assets/arrow.png") + " Klasifikasi berdasarkan Status Kawin", db_statuskawins_path %></li>
    <li><%= link_to image_tag("/assets/arrow.png") + " Klasifikasi berdasarkan Umur", db_umurs_path %></li>
    <li><%= link_to image_tag("/assets/arrow.png") + " Klasifikasi berdasarkan Usia Sekolah", db_usiasekolahs_path %></li>
  </ul>  

  <h3>Link Terkait</h3>
  <div class="progress progress-info progress-striped">
    <div class="bar" style="width: 30%;"></div>
  </div>
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to image_tag("/assets/arrow.png") + " APPSI", "http://www.appsi.or.id", :target => '_blank' %></li>
    <li><%= link_to image_tag("/assets/arrow.png") + " BPN", "http://www.bpn.go.id", :target => '_blank' %></li>
    <li><%= link_to image_tag("/assets/arrow.png") + " KEMENDAGRI", "http://www.kemendagri.go.id", :target => '_blank' %></li>
    <li><%= link_to image_tag("/assets/arrow.png") + " APDESI", "#" %></li>
    <li><%= link_to image_tag("/assets/arrow.png") + " APKASI", "http://www.apkasi.or.id", :target => '_blank' %></li>
  </ul>
</div>