<div class="span3">
  <h3>Gubernur Sulawesi Selatan</h3>
  <div class="progress progress-info progress-striped"><div class="bar" style="width: 30%;"></div></div>
  <center>
    <%= image_tag("/assets/foto-gub.jpg") %><br>
    <h7>DR.H.SYAHRUL YASIN LIMPO,SH,M.Si,M.H</h7>
  </center>

  <h3>Tugas Dekonsentrasi & Pembantuan</h3>
  <div class="progress progress-info progress-striped">
    <div class="bar" style="width: 30%;"></div>
  </div>
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to image_tag("/assets/arrow.png") + " Item 1", "#" %></li>
    <li><%= link_to image_tag("/assets/arrow.png") + " Item 2", "#" %></li>
  </ul>

  <h3>Informasi Kependudukan</h3>
  <div class="progress progress-info progress-striped">
    <div class="bar" style="width: 30%;"></div>
  </div>
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to image_tag("/assets/arrow.png") + " Jumlah Penduduk", db_jmlh_pddks_path %></li>
    <li><%= link_to image_tag("/assets/arrow.png") + " Klasifikasi Penduduk", "#" %></li>
  </ul>
  

  <h3>Link Terkait</h3>
  <div class="progress progress-info progress-striped">
    <div class="bar" style="width: 30%;"></div>
  </div>
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to image_tag("/assets/arrow.png") + " APPSI", "http://www.appsi.or.id", :target => '_blank' %></li>
    <li><%= link_to image_tag("/assets/arrow.png") + " BPN", "http://www.bpn.go.id", :target => '_blank' %></li>
    <li><%= link_to image_tag("/assets/arrow.png") + " DEPDAGRI", "http://www.kemendagri.go.id", :target => '_blank' %></li>
    <li><%= link_to image_tag("/assets/arrow.png") + " APDESI", "#" %></li>
    <li><%= link_to image_tag("/assets/arrow.png") + " APKASI", "http://www.apkasi.or.id", :target => '_blank' %></li>
  </ul>
</div>