<%= link_to "Beranda", root_path, :class => 'brand' %>
<div class="nav-collapse collapse">
  <ul class="nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profil Biro <b class="caret"></b></a>      
        <ul class="dropdown-menu">
          <li><%= link_to 'Sambutan Kepala Biro', root_path %></li>
          <li><%= link_to 'Visi dan Misi', root_path %></li>
          <li><%= link_to 'Tugas Pokok Biro', root_path %></li>
          <li><%= link_to 'Struktur Organisasi', root_path %></li>
        </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Peraturan Perundang-Undangan <b class="caret"></b></a>      
        <ul class="dropdown-menu">
          <li><%= link_to 'UNDANG-UNDANG REPUBLIK INDONESIA NOMOR 23 TAHUN 2006', Post.find('undang-undang-republik-indonesia-nomor-23-tahun-2006') %></li>
          <li><%= link_to 'PERATURAN PRESIDEN REPUBLIK INDONESIA NOMOR 25 TAHUN 2008', Post.find('peraturan-presiden-republik-indonesia-nomor-25-tahun-2008') %></li>
          <li><%= link_to 'PERATURAN PEMERINTAH REPUBLIK INDONESIA NOMOR 37 TAHUN 2007', Post.find('peraturan-pemerintah-republik-indonesia-nomor-37-tahun-2007') %></li>
        </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Galeri <b class="caret"></b></a>      
        <ul class="dropdown-menu">
          <li><%= link_to 'Foto', galleries_path %></li>
          <li><%= link_to 'Video', root_path %></li>
        </ul>
    </li>
    <li>
      <%= link_to 'Kontak Kami', home_kontakkami_path %>
    </li>

    <% if user_signed_in? %>    
      <li>
      <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
      </li>
    <% else %>
      <li>
      <%= link_to 'Login', new_user_session_path %>
      </li>
    <% end %>
    <% if user_signed_in? %>
      <li>
      <%= link_to 'Edit account', edit_user_registration_path %>
      </li>
      <% if current_user.has_role? :admin %>
        <li>
        <%= link_to 'Admin', users_path %>
        </li>
        <li>
        <%= link_to 'Post', posts_path %>
        </li>
        <li>
        <%= link_to 'Import', importtodbs_path %>
        </li>
        <li>
        <%= link_to 'Foto Galeri', galleries_path %>
        </li>
      <% end %>
    <% else %>    
      <li>
      <%= link_to 'Daftar', new_user_registration_path %>
      </li>
    <% end %>
  </ul>
</div>